sudo: required
dist: trusty
language: ruby

before_install:
before_install:
- gem install asciidoctor -v 1.5.2
- gem install tilt
- sudo pip install git+https://github.com/gitenberg-dev/gitberg
- sudo pip install pillow
- sudo pip install cssutils
- sudo pip install docutils
- sudo pip install roman
- sudo pip install git+https://github.com/gitenberg-dev/pg-epubmaker
script:
- VERSION=`ruby -e "require 'yaml'; meta = YAML.load_file('metadata.yaml'); puts meta['_version'];"`
- git clone https://github.com/gitenberg-dev/asciidoctor-htmlbook.git
- sudo pip install -r asciidoctor-htmlbook/gitberg-machine/requirements.txt

- /usr/bin/python -c "from gitenberg import travis; travis.build_epub()"
- ebook-convert book.epub book.mobi
- xvfb-run ebook-convert book.epub book.pdf
branches:
  only:
  - master
notifications:
  webhooks:
    urls:
      - https://unglue.it/api/travisci/webhook
    on_success: always
    on_failure: never
    on_start: never
deploy:
  skip_cleanup: true
  provider: releases
  api_key:
    secure: SHKJJUiGwTlLKvcfgwcKqVCD2X8AIo8AUbWIAwd5ITVRESeh7p1aujQD8LLS951sDIg99MG2r+7nh0CDK6mqr759ufZg4lz/4l827dmRIkbqM2lgUKQhdfpy6ymcGab+LCjQE0QJpKWRlzeBipLZ9Q+r3GcLF+ZQ6492/kWWEB+weIWqYaDe6ZkK66ERICEHwkQLSSHkjC155at+W5cmIEuJLY06Ia4rB4WtgEeWQWt1adg1K4gfzXVhBhjrp5X88Pl7KxFYE8Vt2oG6588n27Y+hLBOdYI1gd+egQKC0MuYPqp0vYysjPVpEbliVg4mg1WNorROZPIP4fujK+oTbZu7RmIo2Qonq6Qw7fB8A2qBecFVQPwHtRMgTK3i3GSDVinthsMmq1zDhhPVVIROrVWaFgfXTwJBHc6Gdjwy6c0O+MRKwqbAKfS7vz8XRcwKwdkF4td3Ycg2y8O0i5SPqIlvDY9HZ4eQwLlLGdceuMp29LK9ciN1VFveh+ufLUgL906gzNMa+H20Ok3iDbpnMxrOq2slIIRTaDM2GZ8zT2p6K/DEAwoRU0ULcFFKNi4QDBvKOPYdqu0O6xee8WmV2PZcBLwxoTASveR/0X6iihksXMGhUXC9zfvSVKgXp2avEo+G5LYG/za3NwTXRaHM/lQ0LDX7WeYD7HNtMPoFYjA=
  file:
    - book.epub
    - book.mobi
    - book.pdf
  "on":
    repo: GITenberg/Sunshine-Sketches-of-a-Little-Town_3533
addons:
  apt:
    packages:
    - xsltproc
    - xvfb
    - calibre
    - python-pip
    - git
    - python-dev
    - libjpeg-dev
    - libpng-dev
    - libfreetype6
    - libfreetype6-dev
    - zlib1g-dev
    - python-lxml
    - libxml2-dev
    - libxslt1-dev
    - tidy